 <!-- HEADER -->
 <header id="main-header" class="py-2 bg-warning text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1><i class="fas fa-folder"></i> Categories</h1>
            </div>
        </div>
    </div>
</header>

<!-- ACTIONS -->
<section id="actions" class="py-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Categories...">
                    <div class="input-group-append">
                        <button class="btn btn-warning text-white">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CATEGORIES -->
<section id="categories" class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>Categories</h4>
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor ="let category of categoriesList; let i = index">
                                <td [textContent]="i + 1"></td>
                                <td [textContent]="category.number"></td>
                                <td [textContent]="category.date"></td>
                                <td>
                                    <a routerLink="/details" class="btn btn-secondary">
                                    <i class="fas fa-angle-double-right"></i> Details
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- PAGINATION -->
                <div class="d-flex justify-content-center mt-4" *ngIf = "show">
                  <ngb-pagination [collectionSize]="categories.length" (pageChange)="onGetPage($event)" [pageSize]= "pageSize" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</section>
