 <!-- HEADER -->
 <header id="main-header" class="py-2 bg-warning text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1><i class="fas fa-folder"></i> Categories</h1>
            </div>
        </div>
    </div>
</header>

<!-- ACTIONS -->
<section id="actions" class="py-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto">
                <div class="input-group">
                    <input [(ngModel)]="searchValue" type="text" class="form-control" placeholder="Search Categories...">
                    <div class="input-group-append">
                        <button (click)="searchCategory()" [disabled]="!searchValue" class="btn btn-warning text-white">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CATEGORIES -->
<section *ngIf="!notFound" id="categories" class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>Categories</h4>
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Category</th>
                                <th>Created by</th>
                                <th>Created Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor ="let category of categoriesList; let i = index">
                                <td [textContent]="i + 1 + ((page -1 ) * pageSize)"></td>
                                <td [textContent]="category.title"></td>
                                <td [textContent]="category.users.name"></td>
                                <td [textContent]="category.created_at"></td>
                                <td>
                                    <!-- <a routerLink="/categories/" class="btn btn-secondary"> -->
                                    <button (click)="onNavigate(category.id)" class="btn btn-secondary">
                                    <i class="fas fa-angle-double-right"></i> Details
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- PAGINATION -->
                <div class="d-flex justify-content-center mt-4" *ngIf = "show">
                  <ngb-pagination [collectionSize]="(showCategories) ? categories.length : categoriesResult.length" (pageChange)="onGetPage($event)" [pageSize]= "pageSize" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</section>

<div *ngIf="notFound" class="container">
  <div class="col">
    <h1 class="display-5">Category not found!</h1>
  </div>
</div>

