 <!-- HEADER -->
 <header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Post One</h1>
        </div>
      </div>
    </div>
  </header>

  <!-- ACTIONS -->
  <section id="actions" class="py-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a routerLink="/" class="btn btn-secondary btn-block">
            <i class="fas fa-arrow-left"></i> Back To Dashboard
          </a>
        </div>
        <div class="col-md-4">
          <a routerLink="/" class="btn btn-success btn-block text-white">
            <i class="fas fa-check"></i> Save Changes
          </a>
        </div>
        <div class="col-md-4">
          <a routerLink="/" class="btn btn-danger btn-block">
            <i class="fas fa-trash"></i> Delete Post
          </a>
        </div>
      </div>
    </div>
  </section>

    <!-- ACTIONS -->
    <section id="actions" class="mt-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4>Edit Post</h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" class="form-control" value="Post One">
                                </div>
                                <div class="form-group">
                                    <label for="category">Category</label>
                                    <select type="text" class="form-control">
                                        <option value="" selected>Web Development</option>
                                        <option value="">Tech Gadgets</option>
                                        <option value="">Bussiness</option>
                                        <option value="">Health & Wellness</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="image">Upload Image</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input">
                                        <label for="image" class="custom-file-label">Choose File</label>
                                    </div>
                                    <small class="form-text text-muted">Max Size 3mb</small>
                                </div>
                                <div class="form-group">
                                    <label for="body">Body</label>
                                    <textarea name="editor1" class="form-control">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus praesentium cum dolorem quasi sit ea neque mollitia? Repudiandae ea neque deserunt, sed quos, laborum perferendis iure temporibus est consectetur tempora fugit delectus quisquam eaque cum ipsum, fuga ullam eius quo aliquid sunt id voluptatum mollitia repellendus. Blanditiis aspernatur dicta aperiam.</textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>