  <!-- HEADER -->
  <header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1><i class="fas fa-cog"></i> Settings</h1>
        </div>
      </div>
    </div>
  </header>

  <!-- ACTIONS -->
  <section id="actions" class="py-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a routerLink="/" class="btn btn-secondary btn-block">
            <i class="fas fa-arrow-left"></i> Back To Dashboard
          </a>
        </div>
        <div class="col-md-4">
          <a routerLink="/" class="btn btn-success btn-block text-white">
            <i class="fas fa-check"></i> Save Changes
          </a>
        </div>
      </div>
    </div>
  </section>

    <!-- ACTIONS -->
    <section id="actions" class="mt-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4>Edit Settings</h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <fieldset class="form-group">
                                    <legend>Allow User Registration</legend>
                                    <div class="form-check">
                                        <label for="" class="form-check-label">
                                            <input type="radio" class="form-check-input" checked> Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label for="" class="form-check-label">
                                            <input type="radio" class="form-check-input"> No
                                        </label>
                                    </div>
                                </fieldset>
                                <fieldset class="form-group">
                                    <legend>Homepage Format</legend>
                                    <div class="form-check">
                                        <label for="" class="form-check-label">
                                            <input type="radio" class="form-check-input" checked> Blog Page
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label for="" class="form-check-label">
                                            <input type="radio" class="form-check-input"> Homepage
                                        </label>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
          
